
@font-face {
    font-family: 'lombok';
    src: url('https://files.jcink.net/uploads/spica02/Lombok.otf');
     }

  .strawberry {
width: 425px;
    background: #F6F6F6;
    border: 1px solid #ddd;
    border-radius: 5px;
      box-shadow: -1px 1px #dcdcdc, 1px -1px #dcdcdc;
    color: #666;
    font-family: nunito;
    font-size: 15px;
    line-height: 24px;
    margin: 30px auto;
    padding: 10px;
  }
 
.strawberryTop {
height: 100px;
    width: 100px;
overflow:hidden;
 border-radius: 25px;
 transform: rotate(45deg);
 -ms-transform: rotate(45deg); /* IE 9 */
 -webkit-transform: rotate(45deg); /* Safari and Chrome */
 position:relative;
    background-color: rgba(var(--main));
    background: linear-gradient(40deg, rgba(var(--accent)) 0%, rgba(var(--main)) 100%);
  margin-bottom: -160px;
}

.strawberry h1 {
  position: relative;
  top: 40px;
  left: 90px;
  text-transform: uppercase;
  color: #646464;
  text-shadow: 1px 1px #FDFDFD, 1px -1px #FDFDFD, -1px 1px #FDFDFD, -1px -1px #FDFDFD;
  letter-spacing: 2px;
    z-index: 10;
  font-size: 12px;
}    

.strawberry h1 b {
    font: 70px/100% lombok;
   color: rgb(var(--accent));
 font-weight: bold;
}

.strawberry h2 {
  width: 280px;
  height: 8px;
  position: relative;
  bottom: -15px;
  left: 90px;
  font: 300 12px/100% nunito;
  text-align: justify;
  padding: 30px;
  margin-top: -15px;
  overflow: hidden;
  text-transform: uppercase;
}
 
.strawberry h2 a {
background: linear-gradient(to left, rgba(var(--main)) 0%, rgba(var(--accent)) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  font-weight: bold;
}

.starwberry h2 a:before {
content: "#";
  color: rba(var(--accent));
}

.strawberryTop span {
    font-size: 60px;
   position: absolute;
  top: 15px;
  left: 15px;
    color: #F7F7F7;
    text-shadow: 4px 2px 1px rgba(var(--accent), .9);
  transform: rotate(-30deg);
  z-index: 5;
  mix-blend-mode: hard-light;
}   

.strawberryTop img {
 transform: rotate(-45deg);
 -ms-transform: rotate(-45deg); /* IE 9 */
 -webkit-transform: rotate(-45deg); /* Safari and Chrome */
 position:absolute;
  top: -30px;
  left: -30px;
  height: 150px;
  width: 150px;
    mix-blend-mode: luminosity;
    opacity: .5;
}

.strawberry3 {
    font-family: nunito;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  margin: 15px;
  padding: 35px;
  text-align: justify;
  margin-top: 20px;
  border-top: 1px solid #DCDCDC;
  color: #646464;
  text-shadow: 1px 1px #fff, 1px -1px #fff, -1px 1px #fff, -1px -1px #fff;
}

.strawberry3 b {
color: rgba(var(--main), 0.85)!important;
    font-weight: 900;
}

.strawberry3 i {
font-weight: bold;
    position: relative;
    text-decoration: none;
    background: linear-gradient(130deg, rgba(var(--main), 0.75) 41.07%, rgba(var(--accent), 0.75) 76.05%);
    background-position: 0 100%;
    background-size: 100% 3px;
    padding-bottom: -4px;
    background-repeat: repeat-x;
}

.strawberryPKMN {
display: flex;
    flex-flow: row no-wrap;
    justify-content: flex-start;
    margin-top: -45px;
    position: relative;
    text-align: left;
    z-index: 4;
}

.strawberryPKMN span {
    font-size: 11px;
    font-weight: 900;
}

.strawberryPKMN b {
    display: block;
    font-weight: 900;
    text-align: center;
  color: rgba(var(--main), 0.85)!important;
}

.strawberryPKMN b:after {
    content: ' HP';
    -webkit-text-fill-color: #747474;
    font-weight: 600;
    text-shadow: none;
}

.strawberryPKMN #faint {
    filter: grayscale(100%);
    opacity: 0.6;
}

.strawberryTag a {
      font: 600 15px 'Nunito', sans-serif;
    text-decoration: none;
    background: rgba(var(--main), 0.9);
background: linear-gradient(to bottom right, rgba(var(--main), 0.9) 0%, rgba(var(--accent), 0.9) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    text-transform: uppercase;

  padding: 10px;
 
}

.strawberryTag a::before {
 content: '\eca1';
  font-family:'cappuccicons';
  font-size: 12px;
    margin-right: 2px;
  background: rgba(var(--main), 0.9);
background: linear-gradient(to bottom right, rgba(var(--main), 0.7) 0%, rgba(var(--accent), 0.7) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.strawberry span.dice-roll {
    border: 0px!important;
    display: grid;
    padding: 5px 10px;
    font-size: 13.5px;
    color: rgba(var(--main), .8);
}
